<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
            <mimeMap fileExtension=".jpg" mimeType="image/jpeg" />
            <mimeMap fileExtension=".png" mimeType="image/png" />
        </staticContent>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>
